*{
    font-family: consolas;
    color: #626262;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left: 10px;
    &:hover .face{
        transform: translateY(0);
    }
    &:hover .face1{
        box-shadow: none;
        background-color: rgb(255, 0, 106);
        img{
            opacity: 1;
        }
        h3{
            color: white;
        }
    }
}
.face{
    width: 275px;
    height: 175px;
    transition: 0.3s;
}
.face1{
    background-color: rgba(255, 255, 255, 0.1);
    width: 277px;
    height: 180px;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 20px 50px rgba(0,0,0,8);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    transform: translatey(50%);
    img{
        opacity: 0.3;
        transition: 0.3s;
    }
}
.face2{
    position: relative;
    background-color: rgb(255, 255, 255);
    transform: translateY(-50%);
    display: flex;
    margin: 0px;
    p{
        color: black;
        margin: 20px;
        
    }
}